@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&family=Roboto:wght@400;700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&family=Roboto+Mono&family=Roboto:wght@400;700&display=swap');

/* Resets:maeaning: The style that we have to do repeatedly, we will do it here once, so our code won't be long. */
* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

:root {
    --primary-text-color: #183b56;
    --secondary-text-color: #577592;
    --accent-color: #2294ed;
    --accent-color-dark: #1d69a3;
    --padding-inline-section: 20px;

}

body {
    font-family: 'Poppins', sans-serif;
    color: var(--primary-text-color);


}

h1 {
    font-size: 3rem;
}

h2 {
    font-size: 2rem;

}

h3 {
    font-size: 1.5rem;
}

p {
    font-size: 1.25rem;
    color: var(--secondary-text-color);
    line-height: 1.5rem;
    font-family: 'Roboto', sans-serif;
}

a {
    text-decoration: none;
    display: inline-block;
}


li {
    list-style: none;
}


/* utility classes:meaning:The style that we have to do repeatedly on the same type of elements, we will do it here once, so our code won't be lengthy. */

.small-bold-text {
    font-size: 0.8rem;
    font-weight: 2500;
    /* changed from yt */
}

.container {
    max-width: 1180px;
    /*  */
    margin-inline: auto;
    /* margin: 0 auto; */
    overflow: hidden;/* media*/
    padding-inline: var(--padding-inline-section);
    /* padding-left: 20px; */

}

.flex {
    display: flex;
    align-items: center;

}

.hover-links {
    color: var(--primary-text-color);
}

.hover-links:hover {
    color: var(--accent-color);
    transition: 0.2s ease-out;
}


.secondary-button-btn {
    border-radius: 6PX;
    border: 0.5px solid var(--secondary-text-color);
    font-weight: 600;
    color: var(--primary-text-color) !important;
    padding: 12px 24px;
    transition: 0.2s ease-out;

    font-size: 16px;

}

.secondary-button-btn:hover {
    border-color: var(--accent-color);
    transition: 0.2s ease-out;
    color: var(--accent-color) !important;
}

.secondary-button-btn i {
    /* card-area,cta arrow work */
    padding-left: 3px;

}

.primary-button {
    font-size: 16px;
    background-color: var(--accent-color);
    border-radius: 6px;
    font-weight: 600;
    color: white !important;
    padding: 12px 24px;
    box-shadow: 0 0 2px var(--secondory-text-color);
    transition: 0.2s ease ease-out;

}

.primary-button:hover {
    background-color: var(--accent-color-dark);
}


/* top banner */

.top-banner {
    background-color: #4dadf7;
    background-image: url("https://assets-global.website-files.com/5af97a9c84ec1bc79d81b5f4/5b7e4d7973addf81ed1f4010_pattern.png");
    background-size: 300px;
    /* By default, the image repeats. If we write 'no-repeat,' it will only cover 300px */
}

.banner-text {
    text-align: center;
    padding: 15px 20px;
    color: white;
    cursor: pointer;
}

.banner-text a {
    color: white;

}


/* navbar */

.main-nav {
    margin-top: 20px;
    justify-content: space-between;
    position: relative;
}
.company-logo-work{
gap: 10px;
}
.tester{
     background-image: url(./assets/asset\ 33.svg);
    background-position: 50%; 
    background-repeat: no-repeat;
    text-decoration: none;
    padding: 8px 16px 8px 17px; 
    margin-top: -4px; 
    margin-left: -10px;
    /* margin-right: 20px; */


}

.become{
 
        color: #183b56;
        text-align: center;

        font-size: 16px;
        text-decoration: none;
 
    }

.company-logo {
    width: 200px;
}

.nav-links ul {
    justify-content: end;
    gap: 18px;

}
.nav-toggle{   /* media */
    display: none;
} 
.nav-links {


}


/* header */

header {
    padding-top: 40px;
}

.header-section {
    justify-content: center;
    gap: 50px;
}

.design {
    font-size: 2.5rem;

}

.header-right img {
    /* width: 100%; */
    width: 100%;

}

.header-left {
    width: 40vw;

}

.btn {
    margin-top: 30px;

    border-radius: 4px;
    font-size: 16px;
    font-weight: 500;
text-align: center;

}

.header-left p {
    margin-top: 10px;
    padding-left: 2px;
  
}

.header-a-div {
    display: flex;
  width:fit-content;
    flex-direction: column;
align-items: start;

}

.small-para-header {
    color: #577592;

    padding: 10px 0;  /*top , bottom */
font-size: 10px;
margin: 0 auto;
}


/* compamies section */

.companies-section {
    padding-block: 60px;    /* Top / bottom  */
}
.companies-header {
    text-align: center;
    color: var(--primary-text-color);
    font-size: 1rem;
}
.logos {
    padding-top: 28px;
    justify-content: space-evenly;
    gap: 20px;
    flex-wrap: wrap ;

}
.logo {
    height: 35px;
}
/* .spacer {        we use this space technique when we need some space 
    height: 300vh;
} */
.features-header {
    padding-top: 30px;
    align-items: center;
    flex-direction: column;
    gap: 30px;
}
.features-section {
    background-image: url(./assets/asset\ 34.svg);
    background-repeat: no-repeat;
    background-position: center;
    /* background-size: 133vh; */
    background-size: contain;
}
.features-section h2{
    text-align: center;
}
.features-area {
    padding-top: 50px;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    text-align: center;
 
}

.features-card {
    flex-direction: column;
    gap: 10px;   /*it takes column gap bcz flex-column in define*/
    align-items: center;
    width: 30%;


}
.features-card h4 {
    font-size: 24px;
    font-weight: 500;
   
}
.features-card img {
  width: 50px;

    margin-top: 5px;
}

/* big feature section 1 */

.big-feature-section {
    padding-top: 70px;
}
.big-feature-section-2{
    padding-top: 70px;
}
.big-feature-section-3 {
    padding-top: 70px;
}
.big-feature-work {
    gap: 60px;
}
.feature-img-1 img{
    width: 100%;

}
.feature-img img {
    width: 100%;
}

.feature-description {
flex-direction: column;
align-items: flex-start;
    /* position: relative; */
    
  

}
.big-feature-h3-h2{
    line-height: 18px;
}
.big-feature-h3-h2 div{
    color: #224763;
    font-size: 18px;
    font-weight: 300;
    margin-bottom: 15px;
}
.big-feature-h3-h2 h3{

font-weight: 600;
padding-bottom: 20px;
line-height: 28px;
   
}
.feature-para  {

    color: #577592;
    text-align: left;
    align-self: flex-start;
    margin-bottom: 0;
    padding-bottom: 10px;
    font-size: 20px;
    font-weight: 400;
    line-height: 1.5;
    display: block;
    position: static;
}


.feature-more-work {
    margin-top: 20px;


}


.chartmogul {
    height: 35px;
margin-bottom:20px ;

}

.desc-2 {
    /* max-width: 410px; */
    color: #183b56;
    text-align: left;
    background-position: 0 0;
    background-repeat: no-repeat;
    background-size: 64px;
    margin-top: -15px;
    margin-left: -30px;
    padding-top: 15px;
    padding-left: 30px;
    font-family: Averta PE,sans-serif;
    font-size: 18px;
    font-weight: 600;
    line-height: 1.5;
    background-image: url(assets/asset\ 35.svg);

}

.feature-second-img {
    padding-top: 30px;

}   
.feature-last-img {
    max-height: 48px
}
.name-position{
   margin-left:10px;

}
.feature-last-h4 {
    color: #183b56;
    font-family: sans-serif;
    font-size: 20px;
    font-weight: 600;
margin-top: 5px;
    display: block;
 
}
.name-position p {

font-size: 14px;

}

/*  big feature section 2  */

#second-big-feature {
   
flex-direction: row-reverse ;

    }
#move{
   padding-left: 10px;

}

/* examples-section */
.examples-header {
    padding-top: 50px;
    align-items: center;
    flex-direction: column;
    gap: 20px;
  
    text-align: center;
}
.examples-area {
    padding-top: 30px;
    justify-content: space-between;
    flex-wrap: wrap; /*media*/

}
.examples-card {
    width: 23%;
    height: 330px;
    color: white;
    position: relative;
    background-image: linear-gradient(rgb(0, 0, 0, 0.1), rgb(0, 0, 0, 0.8)), url(./assets/asset\ 37.jpeg);
    background-size: cover;
  
}
.examples-card:hover {
    box-shadow: 0 0 10px #888;
    transition: 0.3 s ease-out;
}
.examples-card h3 {
    color: white;
    text-align: left;
    letter-spacing: -.6px;
    font-family: sans-serif;
    font-size: 24px;
    font-weight: 600;
    line-height: 1.2;
    position: absolute;
    bottom: 20px;
    left: 20px;
    right: 20px;

}

.examples-card:nth-child(2) {
    background-image: linear-gradient(rgb(0, 0, 0, 0.1), rgb(0, 0, 0, 0.8)), url(./assets/asset\ 36.jpeg);
    background-size: cover;
}

.examples-card:nth-child(3) {
    background-image: linear-gradient(rgb(0, 0, 0, 0.1), rgb(0, 0, 0, 0.8)), url(./assets/asset\ 38.jpeg);
    background-size: cover;
}

.examples-card:nth-child(4) {
    background-image: linear-gradient(rgb(0, 0, 0, 0.1), rgb(0, 0, 0, 0.8)), url(./assets/asset\ 39.jpeg);
    background-size: cover;
}


/* cta-section */
.cta-section-work {
    flex-direction: column;
    align-items: center;
    margin-top:100px;
    gap: 50px;
    /* margin-top: 5px; */
border:#219fff 1px dotted;
padding-block: 20px;
}

.cta-section-work h1 {
    font-weight: bolder;
    font-size: xx-large;
    font-family: 'Roboto mono', sans-serif;
    color: #183b56;
    text-align: center;
}

.cta-para-button {
    text-align: center;
    max-width: 250px;
    flex-direction: column;
    align-self: center;
    display: flex;
    margin-top: -12px;
}
.get {

    text-align: center;
    border-radius: 4px;
    font-size: 16px;
    font-weight: 500;
}
.cta-para {
    max-width: 500px;
    text-align: center;
}
.cta-small-para {
    color: #577592;
    text-align: center;
    padding: 10px 0;
    font-size: 10px;
}


/* footer */
footer {
    padding: 70px;
    margin-top: 70px;
    background-color: #ebf2fa;
}

.footer-container {
    justify-content: space-between;
    align-items: flex-start;
}
.footer-container img {
    width: auto;
    height: 30px;
}
.footer-links {
    flex-direction: column;
    gap: 5px;
    align-items: flex-start;
}
.footer-links a {
    color: var(--secondary-text-color);
}
.footer-links a:hover {
    color: var(--accent-color);
    transition: 0.2s ease-out;
}


/* subfooter */
.sub-footer {

    background-color: #b9cde4;
}
.sub-footer-container {
    justify-content: center;
    padding: 25px;
    gap: 30px;
}
.sub-footer-links {
    gap: 25px;
}
.sub-footer-links a {
    color: var(--secondary-text-color);
}
.sub-footer-links a:hover {
    color: var(--accent-color);
    transition: 0.2s ease-out;
}
.sub-footer-img {
    cursor: pointer;
    gap: 20px;
}
.sub-footer-img i {
    color: var(--secondary-text-color);
    margin-top: 4px;
}