@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&family=Roboto:wght@400;700&display=swap');



/* Resets */
*{
    padding: 0px; 
margin:  0px ;
box-sizing: border-box;
}

:root{
--primary-text-color:#183b56;
--secondary-text-color:#577592;
--accent-color:#2294ed;
--accent-color-dark:#1d69a3;
--padding-inline-section:20px;

}
body{
    font-family: 'Poppins',sans-serif;
    color: var(--primary-text-color);

}
h1{
    font-size: 3rem;
}
h2{
    font-size: 2rem;

}
h3{
    font-size:1.5rem;
}

p{
 font-size: 1.25rem;
 color: var(--secondary-text-color);
 line-height: 1.5rem;
font-family: 'Roboto',sans-serif;
}

a{
    text-decoration: none;
    display: inline-block;
}


 li{
list-style: none;
}

/* utility classes */
.small-bold-text{
    font-size: 0.8rem;
    font-weight: 2500;/* change kya yt wala sa */



}

.container{
    max-width: 1000px;  /* container ko max-width yeh esi lya di taka sab ik line mai raha sections
    ab har swction mai ham yeh container ki class dta rahen ga.iska ik or tareeka bhi hota magar
    abhi ham yeh use karra   */
margin-inline: auto;
/* margin: 0 auto; */


/* padding-left: 20px; */
padding-inline: var(--padding-inline-section);
}
.flex{
    display: flex;

}
.hover-links{
color: var(--primary-text-color);
}
.hover-links:hover{
    color: var(--accent-color);
    transition: 0.2s ease-out;
}

    .secondary-button{
        border: 0.5px solid var(--secondary-text-color);
        border-radius: 5px;
        font-weight: 600;
        color: var(--primary-text-color) !important;
        padding: 12px 24px ;
        transition: 0.2s ease-out;
        margin-top: -10px;
    }


    .primary-button{
        background-color: var(--accent-color);
    border-radius: 5px;
        font-weight: 600;
        color: white !important;
    padding:12px 24px ;
        box-shadow: 0 0 2px var(--secondory-text-color);
        transition: 0.2s ease ease-out;
        margin-top: -10px;
    }

    .primary-button:hover{
        background-color: var(--accent-color-dark);
    }


/* banner */
.top-banner{
    background-color: #4dadf7;
    background-image: url("https://assets-global.website-files.com/5af97a9c84ec1bc79d81b5f4/5b7e4d7973addf81ed1f4010_pattern.png");

background-size: 300px;
/* by default image repeat hai agar no reapeat kardenga toh woh 300px ki hi dekha gi */

}

.banner-text{
    text-align: center;
    padding: 15px 20px;
color: white;
    cursor: pointer;
}


.banner-text a{
    color: white;
 
}

/* navbar */
.main-nav{
justify-content: space-between;
margin-top: 20px;
font-size: 0.9rem;
}
.logo{
  width: auto;
  height: 30px;
margin-top: -2px;
}
.nav-links ul{
justify-content: end;
gap: 40px;
}



/* header */

header{

    margin-top: 40px;
border: 1px solid red;
}

.header-section{
    justify-content: center;
    gap: 50px;
 
}

.design{
font-size:2.5rem;

}
.header-right img{


    width: 40vw;
}
.header-left{
margin-top: 50px;
margin-left: 3px;


}
.btn{
 margin-top: 60px;

}
.header-left p{
margin-top: 10px;
padding-left: 2px;
}


/* compamies section */
.companies-section{


    width: 100%;



}
.companies-header{
    text-align: center;
    margin-block: 30px;/* Top / bottom  */
    color: var(--primary-text-color);
font-size: 0.81rem;
}
.logos{
    justify-content: space-between;

    flex-wrap: wrap-reverse;


}
.logo{
    height: 35px;

}
.spacer{
    height:100vh;
}
