@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&family=Roboto:wght@400;700&display=swap');



/* Resets */
*{
    padding: 0px; 
margin:  0px ;
box-sizing: border-box;
}

:root{
--primary-text-color:#183b56;
--secondary-text-color:#577592;
--accent-color:#2294ed;
--accent-color-dark:#1d69a3;
--padding-inline-section:20px;

}
body{
    font-family: 'Poppins',sans-serif;
    color: var(--primary-text-color);

}
h1{
    font-size: 3rem;
}
h2{
    font-size: 2rem;

}
h3{
    font-size:1.5rem;
}

p{
 font-size: 1.25rem;
 color: var(--secondary-text-color);
 line-height: 1.8rem;
font-family: 'Roboto',sans-serif;
}

a{
    text-decoration: none;
    display: inline-block;
}




/* utility classes */
.small-bold-text{
    font-size: 0.8rem;
    font-weight: 2500;/* change kya yt wala sa */



}

.container{
    max-width: 1180px;  /* container ko max-width yeh esi lya di taka sab ik line mai raha sections
    ab har swction mai ham yeh container ki class dta rahen ga.iska ik or tareeka bhi hota magar
    abhi ham yeh use karra   */
margin-inline: auto;
/* margin: 0 auto; */


/* padding-left: 20px; */
padding-inline: var(--padding-inline-section);
}



.top-banner{
    background-color: #4dadf7;
    background-image: url("https://assets-global.website-files.com/5af97a9c84ec1bc79d81b5f4/5b7e4d7973addf81ed1f4010_pattern.png");
width: 100%;
background-size: 300px;

}

.banner-text{
    text-align: center;
    padding: 15px 20px;
color: white;
    cursor: pointer;
}


.banner-text a{
    color: white;
 
}