@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&family=Roboto:wght@400;700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&family=Roboto+Mono&family=Roboto:wght@400;700&display=swap');

/* Resets */
*{
    padding: 0px; 
margin:  0px ;
box-sizing: border-box;
}

:root{
--primary-text-color:#183b56;
--secondary-text-color:#577592;
--accent-color:#2294ed;
--accent-color-dark:#1d69a3;
--padding-inline-section:20px;

}
body{
    font-family: 'Poppins',sans-serif;
    color: var(--primary-text-color);
    border: 1px solid pink;

}
h1{
    font-size: 3rem;
}
h2{
    font-size: 2rem;

}
h3{
    font-size:1.5rem;
}

p{
 font-size: 1.25rem;
 color: var(--secondary-text-color);
 line-height: 1.5rem;
font-family: 'Roboto',sans-serif;
}

a{
    text-decoration: none;
    display: inline-block;
}


 li{
list-style: none;
}







/* utility classes */
.small-bold-text{
    font-size: 0.8rem;
    font-weight: 2500;/* change kya yt wala sa */



}

.container{
    max-width: 1180px;  /* container ko max-width yeh esi lya di taka sab ik line mai raha sections
    ab har swction mai ham yeh container ki class dta rahen ga.iska ik or tareeka bhi hota magar
    abhi ham yeh use karra   */
margin-inline: auto;
/* margin: 0 auto; */

overflow: hidden;

/* padding-left: 20px; */
padding-inline: var(--padding-inline-section);
overflow: hidden;
}
.flex{
    display: flex;
    align-items: center;

}
.hover-links{
color: var(--primary-text-color);
}
.hover-links:hover{
    color: var(--accent-color);
    transition: 0.2s ease-out;
}


.secondary-button-btn{


    font-weight: 600;
    color: var(--primary-text-color) !important;
/* padding: 30px 24px; */
    transition: 0.2s ease-out;

    font-size: 16px;

} 

.secondary-button-btn i{
    padding-left: 3px;

}


        .secondary-button-btn:hover{
            color: var(--accent-color);
            transition: 0.2s ease-out;
        }  

    .primary-button{
        font-size: 16px;
        /* background-color: var(--accent-color); */
    /* border-radius: 6px; */
    font-weight:600;
        color: black !important;

        box-shadow: 0 0 2px var(--secondory-text-color);
        transition: 0.2s ease ease-out;

    }

    .primary-button:hover{
        background-color: var(--accent-color-dark);
    } 















.clone{
    flex-direction: column;
background-color: white;
max-width: 110px;
margin: 0 auto;
color: black;



}
.clone a {
text-decoration: underline;
}

/* banner */
.top-banner{
    background-color: #4dadf7;
  
    background-image: url("https://assets-global.website-files.com/5af97a9c84ec1bc79d81b5f4/5b7e4d7973addf81ed1f4010_pattern.png");

background-size: 300px;
/* by default image repeat hai agar no reapeat kardenga toh woh 300px ki hi dekha gi */

}

.banner-text{
    text-align: center;
    padding: 15px 20px;
color: white;
    cursor: pointer;
}


.banner-text a{
    color: white;
 
}

/* navbar */
 .main-nav{
justify-content: space-between;
margin-top: 20px;



 }
 .company-logo{
width: 200px;

    }
    
    .nav-links ul{
    justify-content: end;
    gap: 40px;


    }



    .nav-links{
    flex-basis: 730px;



    } 





/* header */

header{

   padding-top: 40px;

}

.header-section{
    justify-content: center;
    gap: 50px;
 
}

.design{
font-size:2.5rem;

}
.header-right img{


    width: 40vw;
}
.header-left{
margin-top: 50px;
margin-left: 3px;


}
.btn{
 margin-top: 60px;

}
.header-left p{
margin-top: 10px;
padding-left: 2px;
}


/* compamies section */
.companies-section{

    

    padding-block: 30px;/* Top / bottom  */

}
.companies-header{
    text-align: center;

    color: var(--primary-text-color);
font-size: 0.81rem;

}
.logos{
padding-top: 28px;
    justify-content: space-between;

    flex-wrap: wrap-reverse;



}
.logo{
    height: 35px;

}
.spacer{
    height:300vh;
}









/* Features section */



/* my position work */

/* .features-area{
flex-wrap: wrap;
    border: 1px solid red;
    padding-top: 30px;
    gap: 47px;
}
.feacures-card{
border: 1px solid purple;

}
.feacures-card h3{
    font-size: larger;
    font-weight: 600;
}
.feacures-card img{
    width: 40px;
    height: 40px;
} */


.features-header{
    padding-top: 30px;
align-items: center;
flex-direction: column;
gap: 30px;
}

.features-section{
    background-image: url(./assets/asset\ 34.svg);
    background-repeat: no-repeat;
    background-position: center;
background-size: contain;


}

.features-area{
    padding-top: 50px;
    flex-wrap: wrap;
    justify-content: center;
    gap: 40px;
text-align: center;

}
.features-card{
    flex-direction: column;
  gap: 20px;   /*    colmn mai gap mila hia p h or img mai */
    align-items: center;

   max-width: 30%;


}
.features-card img{
    width: 15%;
}








/* big feature section */

.big-feature-section{

    padding-top: 70px;
    margin-bottom: 2px;

}
.big-feature-work{
gap: 60px;

}
.feature-img img{
    width: 100%;
}
.feature-description{
 
    flex-direction: column;

 position: relative;



}
.position{
    padding: 35px;
}
.Design-professionals{
    font-weight: 500;
}
.efforts{
    color: #183b56;

 
    font-family:sans-serif;
    font-size: 18px;
    font-weight: 600;
  
}

.h3-h2{
line-height: 43px;
}
.feature-para p {

padding-top: 20px;
color: #577592;


font-size: 20px;
font-weight: 400;



}
.feature-more-work{
    margin-top: 40px;
}


.chartmogul{
    max-height: 30px;
    margin-bottom: 30px;
    
        max-width:10    0%;
        display: inline-block;
    
}
.desc-2{

    max-width: 410px;
    color: #183b56;
    text-align: left;
    background-image: url(assets/asset\ 35.svg) ;
    background-position: 0 0;
    background-repeat: no-repeat;
    background-size: 64px;
    background-attachment: scroll;
    margin-top: -15px;
    margin-left: -30px;
    padding-top: 15px;
    padding-left: 30px;

    font-size: 18px;
    font-weight: 600;
    line-height: 1.5;

    }

 





.feature-second-img{
    padding-top: 30px;
}
.feature-last-img{
    max-height: 48px
 
}
.name-position{
padding-left: 10px;
}
.feature-last-h4{
    color: #183b56;

    font-family: sans-serif;
    font-size: 18px;
    font-weight: 600;
    line-height: 1.4;
    display: block;
}


/*  big feature section 2  */
.big-feature-work-2{
    flex-direction: row-reverse;
}







/* examples-section */


.examples-header{

        padding-top: 50px;
    align-items: center;
    flex-direction: column;
    gap: 20px;
    

}


.examples-area{
padding-top: 30px;
justify-content: space-between;
}
.examples-card {
   
    width: 23%;
    min-height:290px;

    color: white;
    position: relative;

    background-image: linear-gradient(rgb(0,0,0,0.1),rgb(0,0,0,0.8)),url(./assets/asset\ 37.jpeg);
    background-size: cover;
    
}
.examples-card:hover{
    box-shadow: 0 0 10px #888;
    transition: 0.3     s ease-out;
}
.examples-card h3{
  color: white;
    text-align: left;
    letter-spacing: -.6px;
    font-family: sans-serif;
    font-size: 24px;
    font-weight: 600;
    line-height: 1.2;
   
    position: absolute;
    bottom: 20px;
    left: 20px;
    right: 20px;

}

.examples-card:nth-child(2){
    background-image: linear-gradient(rgb(0,0,0,0.1),rgb(0,0,0,0.8)),url(./assets/asset\ 36.jpeg);
    background-size: cover;
}
.examples-card:nth-child(3){
    background-image: linear-gradient(rgb(0,0,0,0.1),rgb(0,0,0,0.8)),url(./assets/asset\ 38.jpeg);
    background-size: cover;
}
.examples-card:nth-child(4){
    background-image: linear-gradient(rgb(0,0,0,0.1),rgb(0,0,0,0.8)),url(./assets/asset\ 39.jpeg);
    background-size: cover;
}







/* particpants */

/* .participants-section{
 margin-top: 30px;
 
        padding-top: 70px;
        margin-bottom: 20px;

        background-color: #183b54;
        padding-bottom: 65px;
    }
    .participants-work {
        flex-direction: row-reverse;
       justify-content: space-between;
        color: white;
        
    }



    .featuresummary-column{

     
       
    flex: 100%;

    border: 2px solid red;
        
      
       position: relative;
        } */
    
    /* .panelad-image{
 
       
        background-image: url(./assets/asset\ 40.png);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        justify-content: center;
        align-items: center;
        display: flex;
        position: absolute;
   left:100px;
     top:100px;
        border: 2px solid rgb(0, 0, 0);
    
    } */
        
    
    /* .panelad-image-price{


    width: 286px;
    height: 270px;
    max-height: 50%;
    max-width: 50%;
    color: #000000;
    background-image: url(assets/./asset\ 41.png);
    background-size: contain;
    flex-direction: column;
    justify-content: center;
    align-self: auto;
    align-items: center;
    font-family: sans-serif;
    font-size: 24px;
    font-weight: 600;
    display: flex;
    background-repeat: no-repeat;

    } */
 
    /* .div-block-3{

       
            justify-content: center;
            align-items: center;
            margin-top: 18px;
            display: flex;
        
    }
    .price {
        color: #2294ed;
        margin-left: -2px;
        margin-right: 8px;
        font-family: Averta PE,sans-serif;
        font-size: 50px;
        font-weight: 600;
        line-height: 36px;
    }
    .panel-price{
  
        

    color: #183b56;
    letter-spacing: -.5px;
    margin-top: 8px;
    font-family: Averta PE,sans-serif;
    font-size: 20px;
    font-weight: 600;
    line-height: 1;

    }


   
    .participants-img {
       background-image: url(./assets/asset\ 40.png);
       background-repeat: no-repeat;

    
    } */

 /* .participants-description{
    border: 1px solid red;
 }

    .h3-h2 h2{
   
    margin-bottom: 15px;
    font-size: 42px;
    color: white;
font-weight: 500;

        
           
           
        
      
    }
    */









    /*  big feature section 2  */
    .participants-work {
        flex-direction: row-reverse;
    }













/* cta-section */
.cta-section-work{
    flex-direction: column;
    align-items: center;
padding-top: 8%;
gap: 50px;

margin-top: 5px;


}
.cta-section-work h1{
font-weight: bolder;
font-size: xx-large;
font-family: 'Roboto mono',sans-serif;
color: #183b56;
}
.cta-para-button{
    text-align: center;
}
.get{
    margin-bottom: 6px;
    padding: 18px;
    height: 55px;
    width: 150px;
    font-weight: 100;
}
.cta-para{

    width: 37%;
    text-align: center;
}
.cta-small-para{

    font-size: x-small;
    color: #577592;
}








/* footer */
footer{
    padding: 70px;
margin-top: 70px;
    background-color:#ebf2fa;


}
.footer-container{
    justify-content: space-between;
    align-items: flex-start;
}
.footer-container img{
    width: auto;
  height: 30px;

}
.footer-links {
    flex-direction: column;
    gap: 5px;
    align-items: flex-start;
   
}
.footer-links a{
color: var(--secondary-text-color);
}
.footer-links a:hover{
    color: var(--accent-color);
    transition: 0.2s ease-out;
}











/* subfooter */
.sub-footer{
    border: rgb(0, 0, 0) 2px solid;
        background-color: #b9cde4;


}
.sub-footer-container{
    justify-content: space-around;
    padding: 25px;

}
.sub-footer-links{
    gap: 25px;

}
.sub-footer-links a {
    color:    var(--secondary-text-color); 
}
.sub-footer-links a:hover{
    color: var(--accent-color);
    transition: 0.2s ease-out;
}

.sub-footer-img  {
    cursor: pointer;
gap: 20px;
}
.sub-footer-img i {
    color: var(--secondary-text-color); 
    margin-top: 4px;
}
